<section class="main wrapper">
    <section class="counter">
    {{#unless isLinkedToActor}}
        <label for="num-action">Actions: </label>
        <input class="input-counter" id="count-action" name="num-action" type="number" value="{{this.numOfActions}}">
    {{/unless}} 
        <label for="num-reaction">Reactions: </label>
        <input class="input-counter" id="count-reaction" name="num-reaction" type="number" value="{{this.numOfReactions}}">
    {{#unless isLinkedToActor}}
    {{#unless isLinkActorButtonHidden}}
        <button class="actorLink" id="actorLink">Link to Actor</button>
    {{/unless}}
    {{/unless}} 
    {{#if isLinkedToActor}}
        <button class="actorUpdate" id="actorUpdate">Update</button>
    {{/if}}
    </section>
    <section class="flexbox-actions">
        <section class="actions">
            {{#each this.actionImagePayload}}
            <img class="{{this.cssClass}}" src="{{this.actionImage}}" id="a{{this.number}}">
            {{/each}}
        </section>
        <section class="reactions">
            {{#each this.reactionImagePayload}}
            <img class="{{this.cssClass}}" src="{{this.reactionImage}}" id="r{{this.number}}">
            {{/each}}
        </section>
    </section>
</section>